@font-face {
    font-family: "Gilroy ExtraBold";
    src: url("../fonts/gilroyextrabold.woff2") format('woff2'),
    url('../fonts/gilroyextrabold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Gilroy Light";
    src: url("../fonts/gilroylight.woff2") format('woff2'),
    url("../fonts/gilroylight.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("../fonts/gilroylight.woff2") format('woff2'),
    url("../fonts/gilroylight.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans Light";
    src: url("../fonts/gilroylight.woff2") format('woff2'),
    url("../fonts/gilroylight.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: .01em;
    color: #000000;
}

h1 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.btn {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .2em;
    text-transform: uppercase;
    color: #000000;
    text-align: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn:hover,
.btn:focus {
    background-color: #f0c52e;
}

.btn:active {
    color: #be9c22;
}

.main-header {
    background-color: #f7e296;
}

.logo[href] {
    transition: opacity 0.1s ease-in;
}

.logo[href]:hover,
.logo[href]:focus {
    opacity: 0.6;
}

.logo[href]:active {
    opacity: 0.3;
}

.search-form .search-label {
    font-size: 0;
}

.search-form input {
    font: inherit;
    background-color: transparent;
    border: 0;
    opacity: 0.3;
}

.search-form input:hover {
    opacity: 0.6;
}

.search-form input:focus,
.search-form input:active {
    opacity: 1;
    border-bottom: 2px solid #000000;
}

.search-form .search-btn {
    font: inherit;
    text-align: center;
    border: 2px solid #000000;
    background-color: transparent;
    visibility: hidden;
}

.search-form-hidden:focus ~ .search-btn,
.search-form-hidden:active ~ .search-btn {
    visibility: visible;
}

.search-form .search-btn:hover,
.search-form .search-btn:focus {
    background-color: #000000;
    color: #ffffff;
    visibility: visible;
}

.search-form .search-btn:active {
    background-color: #000000;
    color: #747474;
    visibility: visible;
}

.main-header .user-block,
.main-header .site-navigation {
    list-style: none;
}

.site-navigation {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .2em;
    text-transform: uppercase;
    list-style: none;
}

.site-navigation .submenu {
    display: none;
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 15px;
    line-height: 36px;
    letter-spacing: .01em;
    text-transform: none;
    list-style: none;
    background-color: #f7e184;
}

.menu-item:hover .submenu,
.menu-item:focus .submenu {
    display: block;
}

.user-block a,
.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-block a:hover,
.user-block a:focus,
.user-block .active:hover,
.user-block .active:focus {
    opacity: 0.6;
}

.site-navigation a:active,
.user-block a:active,
.user-block .active {
    opacity: 0.3;
}

.user-block .active:active {
    opacity: 1;
}

.slider-top .slides-switches,
.slider-top .slides {
    list-style: none;
}

.slider-top .slide-radio-hidden {
    display: none;
}

.slider-top .slide-btn {
    position: relative;
    display: inline-block;
    font-size: 0;
    width: 12px;
    height: 12px;
    border: 1px solid #000000;
    border-radius: 50%;
}

.slider-top .slide-btn-active::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 3px;
    border: 1px solid #000000;
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.slide-description .slide-number {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 180px;
    line-height: 180px;
    color: #ffffff;
}

.slide-description .slide-promo {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 56px;
    color: #000000;
}

.slide-description th {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 36px;
    line-height: 48px;
    font-weight: normal;
}

.slide-description td {
    font-size: 13px;
    line-height: 20px;
}

.popular .popular-list {
    list-style: none;
}

.popular a {
    color: #000000;
}

.popular h3 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.popular .popular-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 160px;
    height: 160px;
    background-color: #f7e296;
    transition: background-color .1s ease-in;
}

.popular-item:hover .popular-img,
.popular-item:focus .popular-img {
    background-color: #f0c52e;
}

.popular-item:active .popular-img img {
    opacity: 0.3;
}

.popular .img-monopod {
    align-items: flex-end;
}

.services {
    background-color: #e5e5e5;
}

.services .services-switches,
.services .services-slides {
    list-style: none;
}

.services .btn-services-active {
    color: #f7e184;
    background-color: #000000;
}

.services h3 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
}

.partners .partners-list {
    list-style: none;
}

.partners .partners-item {
    opacity: 0.2;
    transition: opacity 0.1s ease-in;
}

.partners .partners-item:hover,
.partners .partners-item:focus {
    opacity: 1;
}

.about-us h2 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
}

.about-us .delivery-list {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: normal;
}

.contacts h2 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 47px;
    line-height: 48px;
}

.main-footer {
    background-color: #464646;
}

.main-footer .user-block {
    list-style: none;
}

.main-footer .user-block a {
    color: #ffffff;
    opacity: 0.7;
}

.main-footer .user-block a:hover,
.main-footer .user-block a:focus {
    opacity: 1;
}

.main-footer .user-block a:active {
    opacity: 0.3;
}

.main-footer-middle {
    color: #ffffff;
}

.main-footer-middle a {
    color: #ffffff;
}

.main-footer .site-navigation {
    list-style: none;
}

.main-footer-bottom {
    text-align: center;
}

.main-footer-bottom a {
    color: #ffffff;
}

.main-footer-bottom ul {
    list-style: none;
}

.modal-wtite-us input,
.modal-wtite-us textarea {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    background-color: #f2f2f2;
    border: 0;
    color: #bababa;
}

.modal-wtite-us input:hover,
.modal-wtite-us textarea:hover {
    background-color: #ebebeb;
    color: #a8a8a8;
}

.modal-wtite-us input:focus,
.modal-wtite-us textarea:focus {
    background-color: #ffffff;
    color: #464646;
    outline: 3px solid #f7e296;
}

.modal-wtite-us .error {
    background-color: #f6dada;
    color: #b09f9f;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a,
.breadcrumbs li:last-child {
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    opacity: 0.3;
}

.breadcrumbs a:hover,
.breadcrumbs a:focus {
    opacity: 0.6;
}

.breadcrumbs a:active {
    opacity: 0.1;
}

.filters fieldset {
    border: none;
}

.filters h2,
.sorting h2 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.filters .filter-title {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.filters .selected-price {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    opacity: 0.2;
}

.filter-color ul,
.filter-bluetooth ul {
    list-style: none;
}

.filters .filter-option {
    font-size: 14px;
    line-height: 40px;
}

.filters .blocked {
    color: #a6a6a6;
}

.filter-option label {
    cursor: pointer;
}

.sorting ul {
    list-style: none;
}

.sorting a {
    font-family: "Open Sans", "Arial", sans-serif;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    color: #000000;
}

.sorting .sorting-type-inactive {
    opacity: 0.3;
}

.sorting .sorting-type-inactive:hover,
.sorting .sorting-type-inactive:focus {
    opacity: 0.6;
}

.sorting .sorting-type-inactive:active,
.sorting .sorting-type-current {
    opacity: 1;
}

.catalog ul {
    list-style: none;
}

.catalog a {
    color: #000000;
}

.catalog h3 {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.catalog .catalog-item-price {
    font-family: "Gilroy Light", "Arial", sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #464646;
}

.catalog-item-hover .compare {
    font-family: "Open Sans Light", "Arial", sans-serif;
    font-size: 13px;
    line-height: 36px;
    opacity: 0.5;
}

.catalog-item-hover .compare:hover,
.catalog-item-hover .compare:focus {
    opacity: 1;
}

.catalog-item-hover .compare:active {
    opacity: 0.2;
}

.pagination-list {
    background-color: #ebebeb;
}

.pagination-list a {
    font-family: "Gilroy ExtraBold", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    letter-spacing: .2em;
    text-transform: uppercase;
}

.pagination-list .page-inactive {
    opacity: 0.3;
}

.pagination-list .page-inactive:hover,
.pagination-list .page-inactive:focus {
    opacity: 0.6;
}

.pagination-list .page-inactive:active,
.pagination-list .page-current {
    opacity: 1;
}

.pagination-list .step:hover,
.pagination-list .step:focus {
    background-color: #d9d9d9;
}

.pagination-list .step:active {
    color: #acacac;
}